{% extends 'common/base.html' %}
{% load static %}

{% block content %}

    <div class="d-flex justify-content-center align-items-center" style="min-height: 80vh;">
        <div class="profile-image-container">
    <img src="{% if user.photo %}{{ user.photo }}{% else %}{% static 'images/basic_profile_pic.jpg' %}{% endif %}" alt="User photo" width="200" height="200" class="profile-image">
        </div>
        <div class="form-background" style="width: 500px;">

            <form>
                <ul style="word-wrap: break-word; white-space: normal;">
                    <li><strong>Username:</strong> {{ user.username }}</li>
                    <li><strong>Email:</strong> {{ user.email }}</li>
                    <li><strong>First Name:</strong> {{ user.first_name }}</li>
                    <li><strong>Last Name:</strong> {{ user.last_name }}</li>
                    <li><strong>Bio:</strong> {{ user.bio }}</li>
                    <li><strong>Phone Number:</strong> {{ user.contact_number }}</li>

                </ul>
            </form>
            <div class="d-flex justify-content-center gap-2">
                <a href="{% url 'edit-profile' user.pk %}" class="btn btn-primary w-20">Edit</a>
                <a href="{% url 'password-change' user.pk %}" class="btn btn-primary w-20">Change Password</a>
                <a href="{% url 'delete-profile' user.pk %}" class="btn btn-danger w-20">Delete Profile</a>


            </div>
        </div>
    </div>
{% endblock %}

