{% extends 'common/base.html' %}
{% load static %}

{% block content %}
    <div class="d-flex justify-content-center align-items-center" style="min-height: 100vh;">
        <div class="form-background" style="width: 400px;">
            <h2 class="text-center">Register</h2>
            <form method="post" >
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn btn-primary">Register</button>
                <p>If you have an account, you can login here: <a href="{% url 'login' %}">Login</a></p>
            </form>
        </div>
    </div>
{% endblock %}
