{% extends 'common/base.html' %}
{% load static %}
{% load custom_tags %}

{% block content %}
    <div class="d-flex justify-content-center align-items-center" style="min-height: 100vh;">
        <div class="form-background" style="width: 400px;">
            <form method="post">
                {% csrf_token %}
                 <div class="mb-4">
                    <div class="d-flex flex-column gap-3">
                        {% for row in form %}
                            {{ row.label_tag }}
                        {{ row|add_class:"form-control" }}
                        {% endfor %}
                    </div>
                </div>
            
                {% if form.errors %}
                    <div>
                        <ul>
                            {% for field, errors in form.errors.items %}
                                {% for error in errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            
                <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-primary w-50">Register</button>
                </div>

                <p>If you have an account, you can login here: <a href="{% url 'login' %}">Login</a></p>
            </form>
        </div>
    </div>
{% endblock %}
