{% extends 'common/base.html' %}
{% load static %}

{% block content %}
    <body>
    <div class="container my-5">
        <div class="row">
            {% for job in job_list %}
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <div class="form-background">
                            <h5 class="card-title">{{ job.title }}</h5>
                            <p class="card-text">{{ job.description|truncatewords:15 }}</p>
                            <p><strong>Salary:</strong> ${{ job.salary_per_month }}</p>
                            <p><strong>Created On:</strong> {{ job.created_on|date:"M d, Y" }}</p>
                            <p><strong>Last Updated:</strong> {{ job.last_updated|date:"M d, Y" }}</p>
                            <p><strong>Posted By:</strong> {{ job.owner.username }}</p>
                            {% if job.owner == user %}
                                <div class="d-flex justify-content-end gap-2">
                                    <a href="{% url 'edit-job' job.pk %}" class="btn btn-primary">Edit</a>
                                    <a href="{% url 'delete-job' job.pk %}" class="btn btn-primary">Delete</a>
                                </div>
                            {% else %}
                                <div class="d-flex justify-content-end">

                                    <a href="#" class="btn btn-primary align-center">More Details</a>
                                </div>

                            {% endif %}
                        </div>
                    </div>
                </div>
            {% empty %}
                <p class="text-center mt-4">No jobs available.</p>
            {% endfor %}
        </div>
    </div>
{% endblock %}

