{% extends 'base.html' %}
{% load static %}

{% block content %}
    <main class="box-border h-32 w-32 p-4 border-4">
     <p>Welcome to Work Manager, the ultimate platform connecting <strong>Lookers</strong> and <strong>Searchers</strong> in one seamless experience. Whether you're looking for flexible work opportunities or need skilled individuals to complete your tasks, Work Manager is designed to make finding the right match easier than ever.</p>

<p>Our app allows users to register as either Lookers or Searchers, creating a dynamic community where:</p>

<ul>
    <li><strong>Searchers</strong> can post work opportunities, from short-term gigs to specialized projects, and set the price they're willing to pay.</li>
    <li><strong>Lookers</strong> can browse available opportunities, apply for tasks, and get paid upon successful completion.</li>
</ul>

<p>We aim to foster a trustworthy environment that values transparency, efficiency, and collaboration. Work Manager is more than just a job platform—it's a bridge to achieving your goals, whether you're looking to expand your career or get work done effortlessly.</p>

<p class="text-center mt-5"><strong>Join us today and be part of a smarter way to work!</strong></p>

    </main>

{% endblock %}