{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <h1>Welcome to the Work Manager App</h1>
        <nav>
            <a href="#">Profile</a>
            <a href="#">Login</a>
            <a href="#">Register</a>
            <a href="#">Dashboard</a>
            <a href="#">About Us</a>

        </nav>
    </header>
    
    {% block content %}
    	
    {% endblock %}

    <footer>
        <p>&copy; 2024 Work Manager App. All rights reserved.</p>
    </footer>
</body>
</html>